

<h1>SIGN UP </h1>

<form action="/signup" method="POST">


<input type="email" name="email"> Email </input> 
<input type="password" name="password">password </input> 
<input type="password" name="config_pass"> confirmed password </input> 
<input type="text" name="name"> name </input> 
<input type="button" value="sign up">





</form>