#home_container {
  display: flex;
  justify-content: space-evenly; }
  #home_container #feed-posts {
    float: left;
    width: 60%;
    padding: 10px; }
  #home_container #user_friends {
    float: right;
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgray;
    height: 100%; }
